@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.muthurglot {
    font-family: 'VT323', monospace;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    padding-left: 3rem;
    padding-right: 0;
    padding-top: 1.75rem;
    padding-bottom: 0.25rem;
    background: rgba(0, 240, 192, 0.8);
    border-radius: 2rem;
    box-shadow: 0 0 24px rgba(0, 240, 192, 0.18);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.4,2,.6,1);
    border: 2px solid rgba(0, 240, 192, 0.5);
    min-width: 320px;
    min-height: 1rem;
    max-height: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
}

/*.muthurglot:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(0, 240, 192, 0.5);
    background: rgba(0, 0, 0, 0.9);
}*/

.balloon-icon {
    font-family: 'VT323', monospace;
    font-size: 2.5rem;
    font-weight: 900;
    color: #ffffff;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    display: inline-block;
    transform: rotate(90deg);
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }
    to {
        text-shadow: 0 0 12px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

.muthurglot-button {
    font-family: 'VT323', monospace;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    background: #111;
    border: 2px solid #00f0c0;
    border-radius: 2rem;
    min-height: 1rem;
    max-height: 2.8rem;
    padding: 1rem 1.75rem;
    box-shadow: 0 2px 12px rgba(0, 240, 192, 0.10);
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    outline: none;
}

.muthurglot-button:hover, .muthurglot-button:focus {
    background: #222;
    box-shadow: 0 4px 24px rgba(0, 240, 192, 0.18);
    color: #00f0c0;
    border-color: #00f0c0;
}